doctype html
html(lang="en")
	head
		title Index
	body
		h1 This is the index page!
		p "Welcome! On Behalf of the greate state of Illionis, corssroads of the nation, land of Linclon. Let me express my deepest gratitude for the privilage of addrssing this convention."	